@import '_variables';
@import '_mixins';
@import '_interface';
button {
    cursor: pointer;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.clickable {
    transition: 0.3s;
    cursor: pointer;
}

.event-disabled {
    pointer-events: none !important;
}

button {
    text-transform: uppercase;
    transition: 0.3s;
    line-height: 18px;
    letter-spacing: 1px;
    border-color: transparent;
    &:disabled {
        opacity: 0.5;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}