@import '_variables';
@import 'mixins';
.outline-button-primary {
    height: 44px;
    border: 1px solid $color-mid-grey;
    border-radius: 100px;
    color: $color-grey;
    transition: all 0.3s;
    font-weight: 300;
    background: white;
    padding: 0 2.25rem;
    &:hover {
        background-color: rgba(0, 145, 255, 0.11);
    }
}

.outline-button-secondary {
    @extend .outline-button-primary;
    color: #AB44DC;
    &:hover {
        background-color: rgba(216, 113, 239, 0.3);
    }
}

.outline-button-disabled {
    color: #A5A4A5 !important;
    border-color: #A5A4A5 !important;
    pointer-events: none !important;
    transition: all 0.3s;
}

.filled-button-primary {
    height: 44px;
    border-radius: 100px;
    background-color: $color-blue;
    color: white;
    transition: all 0.3s;
    font-size: 14px;
    padding: 0 2.25rem;
    font-weight: 300;
    &:hover {
        background-color: rgba(0, 145, 255, 0.75);
    }
}

.filled-button-disabled {
    background-color: #E8E8E8 !important;
    color: #AEAEAE !important;
    pointer-events: none !important;
    transition: all 0.3s;
}

.options-block {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 11px 0 #A9A9A9;
    font-family: $font-roboto;
    color: $color-mid-grey;
}

@include media(lg) {
    $horizontal-padding: 10px;
    section.container.options-block {
        width: 100%;
        position: absolute;
        z-index: 2;
        padding: 0;
        font-size: 0.8rem;
        @include column-center;
        justify-content: space-between;
        .title {
            width: 100%;
            font-weight: normal;
            padding: 5px $horizontal-padding;
            border-bottom: 1px solid #DDD;
        }
        .document-options {
            width: 100%;
            border-bottom: 1px solid #DDD;
            .option {
                font-size: 0.75rem;
                width: 100%;
                padding: 8.5px $horizontal-padding;
                i {
                    min-width: 15px;
                    text-align: center;
                }
                span {
                    margin-left: 15px;
                }
                &:hover {
                    background: transparentize($color: #CCC, $amount: 0.7);
                }
            }
        }
        .document-details {
            width: 100%;
            @include column-center;
            align-items: flex-start;
            font-size: 0.7rem;
            padding: 5px $horizontal-padding;
            color: #A9A9A9;
        }
    }
}

.rotating-circle {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.row.no-pad {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.not-editable {
    pointer-events: none;
}

.borderless {
    border-color: transparent !important;
}

input {
    &:disabled {
        background: transparent;
    }
}