@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');
$font-roboto: 'Roboto',
sans-serif;
$color-dark-blue: #140F53;
$color-grey: #4A4A4A;
$color-mid-grey: #767676;
$color-light-grey: #E7E7E7;
$color-blue: #0091FF;