@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');
$font-roboto: 'Roboto',
sans-serif;
$color-grey-1: #4A4A4A;
$color-grey-2: #767676;
$color-grey-3: #A9A9A9;
$color-grey-4: #DDDDDD;
$color-grey-5: #EDECEC;
$color-blue-1: #140F53;
$color-blue-2: #0091FF;
$color-blue-3: #EEF1FF;
$color-light-blue: #F3F6FF;
$color-dark-steel-blue: #97a0bf;
$color-light-steel-blue: #b2b9d0;
$color-error-red: #FC312E;
// layout 
$navigation-width: 250px;
$mobile-frame-horizontal-padding: 1.5rem;
$header-height: 31px;