<section class="block-option desktop" *ngIf="showBlock" [ngClass]="{'child-document': isChildDoc}" [@fadeInOutAnimation]>
    <div class="add-button-container">
        <div class="add-button" (click)="showAddBlockContainer()">
            <img src="./assets/icons/add-block.png" alt="plus icon">
        </div>
        <div class="blocker" *ngIf="isAddBlockContainerShown" (click)="hideAddBlockContainer()"></div>
        <div class="add-basic-blocks  options-block" *ngIf="isAddBlockContainerShown">
            <div class="title basic">BASIC BLOCKS</div>

            <div class="block-type" (click)="addHeaderBlock()">
                <div class="block-image text">

                </div>
                <div class="block-text">
                    <div class="type">Header</div>
                    <div class="description">Is a Header</div>
                </div>
            </div>

            <div class="block-type" (click)="addTextBlock()">
                <div class="block-image text">
                    <!-- <img class="text" src="./assets/icons/text-block.png" alt=""> -->
                </div>
                <div class="block-text">
                    <div class="type">Text</div>
                    <div class="description">Just plain text</div>
                </div>
            </div>

            <div class="title form">FORM BLOCKS</div>
            <div class="block-type" (click)="addQuestionBlock()">
                <div class="block-image text">
                </div>
                <div class="block-text">
                    <div class="type">Question block</div>
                    <div class="description">Question and input fields</div>
                </div>
            </div>
        </div>

    </div>
    <div class="menu-drag-container">
        <div class="menu-drag" (click)="showMenuSelectionContainer()">
            <img src="./assets/icons/menu-drag.png" alt="menu icon">
        </div>
        <div class="blocker" *ngIf="isMenuSelectionContainerShown" (click)="hideMenuSelectionContainer()"></div>
        <div class="menu-blocks options-block" *ngIf="isMenuSelectionContainerShown">
            <div class="menu-selection" (click)="deleteHandler()">
                <div class="selection-image">
                    <i class="fas fa-trash"></i>
                </div>
                <div class="selection-text">
                    <div class="type">Delete</div>
                </div>
            </div>
            <div class="menu-selection" (mouseover)="isConverterShown = true">
                <div class="selection-image">
                    <i class="fas fa-sync-alt"></i>
                </div>
                <div class="selection-text">
                    <div class="type">Turn Into</div>
                </div>
                <i class="fas fa-caret-right"></i>
                <section class="convert-blocks menu-blocks options-block" *ngIf="isConverterShown">
                    <div class="menu-selection" (click)="convertBlockInto('HEADER')">
                        <div class="selection-image">
                            <i class="fas fa-heading"></i>
                        </div>
                        <div class="selection-text">
                            <div class="type">Header</div>
                        </div>
                    </div>
                    <div class="menu-selection" (click)="convertBlockInto('TEXT')">
                        <div class="selection-image">
                            <i class="fas fa-font"></i>
                        </div>
                        <div class="selection-text">
                            <div class="type">Text</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>