<section class="block-option" *ngIf="isBlockOptionsShown" [@fadeInOutAnimation]>
    <div class="add-button-container " (clickOutside)="hideAddBlockContainer()">
        <div class="add-button" (click)="showAddBlockContainer()" tooltip="Click to add a block view" placement="bottom" hide-delay="0" tooltip-class="epm-tooltip">
            <img src="./assets/icons/add-block.png" alt="plus icon">
        </div>
        <div class="add-basic-blocks  option-block" *ngIf="isAddBlockContainerShown">
            <div class="title basic">BASIC BLOCKS</div>
            <div class="block-type" (click)="createBlock('TEXT')">
                <div class="block-image text">
                    <!-- <img class="text" src="./assets/icons/text-block.png" alt=""> -->
                </div>
                <div class="block-text">
                    <div class="type">Text</div>
                    <div class="description">Just plain text</div>
                </div>
            </div>
            <div class="title form">FORM BLOCKS</div>
            <div class="block-type" (click)="createBlock('TEXT')">
                <div class="block-image text">
                </div>
                <div class="block-text">
                    <div class="type">Question block</div>
                    <div class="description">Question and input fields</div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-drag-container" (clickOutside)="hideMenuSelectionContainer()">
        <div class="menu-drag" (click)="showMenuSelectionContainer()" tooltip="Click to open menu" placement="bottom" hide-delay="0" tooltip-class="epm-tooltip">
            <img src="./assets/icons/menu-drag.png" alt="menu icon">
        </div>
        <div class="menu-blocks  option-block" *ngIf="isMenuSelectionContainerShown">
            <div class="menu-selection" (click)="triggerDeleteEvent()">
                <div class="selection-image">
                    <img class="delete-item" src="./assets/icons/delete-item.png" alt="">
                </div>
                <div class="selection-text">
                    <div class="type">Delete</div>
                </div>
            </div>
        </div>
    </div>
</section>