@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
.content {
    color: $color-grey-1;
    font-family: $font-roboto;
    font-size: 27px;
    font-weight: normal;
    line-height: 24px;
}

.content {
    input[type="text"] {
        width: 100%;
        border: 0;
        color: $color-grey-1;
        font-family: $font-roboto;
        font-size: 27px;
        font-weight: normal;
        line-height: 24px;
    }
}