@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
div.navigation-tab {
    height: 38px;
    padding: 0 15px;
    @include row-center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: $color-grey-2;
}

.current-tab {
    background: transparentize($color: #000000, $amount: 0.9);
    font-weight: 500 !important;
}

@include media(lg) {
    div.navigation-tab {
        height: 27px;
        padding: 0 25px;
        font-size: 13px;
        &:hover {
            background: transparentize($color: #000000, $amount: 0.95)
        }
    }
}