<div class="fluid-container">
    <div class="row">
        <section class="heading">
            <h1>Woops! Looks like you don’t have access to this document</h1>
        </section>
        <div class="information">Request access from document owner to view it</div>
        <div class="information">You are signed in as <span>clarabelle.cow@gmail.com</span></div>
        <div class="button-container">
            <button class="filled-button-primary">REQUEST ACCESS</button>
            <button class="outline-button-primary">SWITCH ACCOUNTS</button>
        </div>
    </div>
</div>