@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
$navigation-background: #D8D8D8;
section.fluid-container {
    width: 100%;
    height: 100%;
    font-family: $font-roboto;
    background-color: $navigation-background;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: $color-mid-grey;
}

section.mobile.navigation-bar {
    width: 85vw;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    app-navigation-tab {
        padding: 0 4%;
    }
    section.user-profile {
        padding: 0 4%;
        width: 100%;
        border-bottom: $color-light-grey solid 0.5px;
        height: 50px;
        @include row-center;
        justify-content: flex-start;
        margin-bottom: 20px;
        .user-icon {
            width: 26.5px;
            height: 26.5px;
            font-size: 0.8rem;
            @include row-center;
            background: $color-blue;
            text-align: center;
            color: white;
            border-radius: 50px;
        }
        .user-name {
            color: $color-mid-grey;
            font-size: 0.9rem;
            font-weight: normal;
        }
    }
}