@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
section.fluid-container {
    width: 100%;
    height: 100%;
    font-family: $font-roboto;
    background: $color-light-blue;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: $color-grey-2;
}

section.mobile.navigation-bar {
    width: 85vw;
    min-height: 100vh;
    background: $color-light-blue;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    section.user-profile {
        padding: 0 15px;
        width: 100%;
        @include row-center;
        justify-content: flex-start;
        padding: 21px 15px 0 15px;
        .user-icon {
            width: 26.5px;
            height: 26.5px;
            font-size: 0.8rem;
            @include row-center;
            background: $color-blue-2;
            text-align: center;
            color: white;
            border-radius: 50px;
        }
        .user-name {
            color: $color-grey-2;
            font-size: 0.9rem;
            font-weight: normal;
        }
    }
    section.tabs {
        margin-top: 26px;
        .title {
            padding: 0 15px;
            margin-bottom: 10px;
            color: #97A0BF;
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

@include media(lg) {
    $header-text-size: 0.8rem;
    section.user-profile {
        height: auto;
        @include row-center;
        justify-content: flex-start;
        padding: 15px 15px 0 15px;
        .user-icon {
            @include row-center;
            width: 20px;
            height: 20px;
            background: $color-blue-2;
            color: white;
            border-radius: 50px;
            font-size: 0.575rem;
        }
        .user-name {
            color: $color-grey-2;
            font-size: $header-text-size;
        }
    }
    section.tabs {
        margin-top: 33px;
        .title {
            padding: 0 25px;
            color: #97A0BF;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 500;
            @include row-center;
            justify-content: space-between;
            i {
                font-size: 20px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .document-outline {
        padding-top: 5px;
        border-top: 1px solid $color-dark-steel-blue;
        background: #EEF2FF;
        height: stretch;
        .document-title,
        .document-tab {
            padding: 0 25px;
            font-size: 13px;
            font-weight: 500;
            color: $color-grey-2;
            height: 27px;
            @include row-center;
            justify-content: flex-start;
        }
        .document-tab {
            padding: 0 25px;
            padding-left: 45px;
            font-weight: normal;
            cursor: pointer;
            &:hover {
                background: transparentize($color: #000000, $amount: 0.95)
            }
        }
    }
}