<div class="content text-block" *ngIf="block">
  <!-- When the user is logged in -->
  <div id={{block.id}} class="text-input" *ngIf="isUserLoggedIn" contenteditable="true" (blur)="togglePlaceholder(false)"
    (focus)="togglePlaceholder(true)" [(ngModel)]="value" (ngModelChange)="updateValue()" (keydown.backspace)="onBackSpaceAndEmptyTextbox()"></div>

  <!-- When the user is anonymous -->
  <div class="text-input" *ngIf="!isUserLoggedIn">{{value}}</div>

  <div class="placeholder" *ngIf="isPlaceholderShown && isUserLoggedIn && !value">Type something here...</div>
</div>
