@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
.content {
    z-index: 1;
    .text-input {
        padding: 7.5px 0;
    }
    .placeholder {
        z-index: -1;
    }
    .text-input.header {
        color: #4A4A4A;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 24px;
    }
    .placeholder.header {
        color: #4A4A4A;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 24px;
    }

    .placeholder.bullet {
        color: rgb(153, 4, 4);
        font-size: 22px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 24px;
    }
    .text-input.bullet {
        color: rgb(153, 4, 4);
        font-size: 22px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 24px;
    }
}