@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
.content {
    z-index: 1;
    .text-input {
        padding: 7.5px 0;
    }
    .placeholder {
        z-index: -1;
    }
    .text-input.header,
    .placeholder.header {
        color: #4A4A4A;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 24px;
        margin-top: 30px;
    }
}