<div class="fluid-container">
    <app-header [sharingStatus]="currentSharingStatus" (showInviteEvent)="showInviteCollaborator()" (sharingChange)="changeSharingStatus($event)" *ngIf="isUserLoggedIn" style="width:100%"></app-header>
    <div class="row no-pad no-gutters">
        <app-navigation-bar *ngIf="currentDocument" [documentId]="currentDocument.id" class="col-2"></app-navigation-bar>
        <section class="content col-lg-8 pt-5 pt-lg-4" *ngIf="currentDocument">
            <div class="title">
                <h1>
                    <!-- When the user is logged in -->
                    <div class="text-input" *ngIf="isUserLoggedIn" contenteditable="true" (blur)="togglePlaceholder()" (focus)="togglePlaceholder()" [(ngModel)]="docTitle" (ngModelChange)="updateDocTitle()"></div>
                    <!-- When the user is anonymous -->
                    <div class="text-input" *ngIf="!isUserLoggedIn">{{docTitle}}</div>
                    <div class="template-tag">(Template)</div>
                    <div class="placeholder" *ngIf="docTitle === ''">Untitled</div>
                    <button class="filled-button-primary" (click)="showSendForm()">SEND FORM</button>
                </h1>
            </div>
            <section class="document-tab">
                <div class="template" [ngClass]="{'current-tab': currentTab === 'template'}" (click)="currentTab = 'template'">
                    template</div>
                <div class="submissions" [ngClass]="{'current-tab': currentTab === 'submissions'}" (click)="currentTab = 'submissions'">submissions</div>
            </section>
            <section class="template" *ngIf="currentTab === 'template'">
                <app-block [isUserLoggedIn]="isUserLoggedIn" *ngFor="let id of currentDocument.blockIds" [blockId]="id">
                </app-block>
                <app-add-information *ngIf="isUserLoggedIn && currentDocument.blockIds.length === 0" (click)="addBlock()" style="width: 100%"></app-add-information>
            </section>
            <table class="submissions" *ngIf="currentTab === 'submissions'">
                <tr>
                    <td class="title">recipients</td>
                </tr>
                <tr class="recipient">
                    <td class="name"><i class="fas fa-circle"></i>Marvin the Martian</td>
                    <td class="information">Last edited on 19 Mar, 2019 </td>
                    <td class="view-submission"><button class="filled-button-primary">View submission</button></td>
                </tr>
            </table>
        </section>
    </div>
</div>
<section class="overlay" (click)="isInviteCollaboratorShown = false" (click)="isSendFormShown = false" *ngIf="isInviteCollaboratorShown || isSendFormShown" [@fadeInOutAnimation]>
    <app-send-form (click)="$event.stopPropagation()" *ngIf="isSendFormShown"></app-send-form>
    <app-invite-collaborator (click)="$event.stopPropagation()" *ngIf="isInviteCollaboratorShown"></app-invite-collaborator>
</section>
<!-- <app-document-login></app-document-login> -->
<!-- <app-request-access></app-request-access> -->