@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
div.fluid-container {
    width: 100%;
    min-height: 100vh;
    font-family: $font-roboto;
    @include column-center;
    justify-content: flex-start;
    color: $color-grey-1;
    div.row {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@include media(lg) {
    div.fluid-container {
        width: 100%;
        font-family: $font-roboto;
        @include column-center;
        justify-content: flex-start;
        color: $color-grey-1;
        div.row {
            width: 100%;
            flex-grow: 1;
            flex-direction: row;
            section.navigation-bar {
                width: $navigation-width;
            }
            section.document-content {
                width: -webkit-calc(100vw - #{$navigation-width});
                width: -moz-calc(100vw - #{$navigation-width});
                width: calc(100vw - #{$navigation-width});
            }
        }
    }
}