<div class="fluid-container">
  <app-header [sharingStatus]="currentSharingStatus" (sharingChange)="changeSharingStatus($event)" *ngIf="isUserLoggedIn" style="width:100%"></app-header>
  <div class="row no-pad no-gutters">
    <app-navigation-bar *ngIf="currentDocument" [documentId]="currentDocument.id" class="col-2"></app-navigation-bar>
    <section class="content col-lg-8 pt-5 pt-lg-4" *ngIf="currentDocument">
      <h1>

        <!-- When the user is logged in -->
        <div class="text-input" *ngIf="isUserLoggedIn" contenteditable="true" [(ngModel)]="docTitle" (ngModelChange)="updateDocTitle()"></div>
        <!-- When the user is anonymous -->
        <div class="text-input" *ngIf="!isUserLoggedIn">{{docTitle}}</div>
        <div class="placeholder" *ngIf="docTitle === ''">Untitled</div>

      </h1>
      <app-block [isUserLoggedIn]="isUserLoggedIn" *ngFor="let id of blockIds" [blockId]="id" (createBlock)="addNewBlock($event.type, $event.id)" [focusBlockId]="focusBlockId">
      </app-block>
      <app-add-information *ngIf="isUserLoggedIn" (click)="addNewBlock('TEXT')" style="width: 100%"></app-add-information>
    </section>
  </div>
</div>
