@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';

.content {
    height: 100%;
    background: white;
}


@include media(lg) {
    section.content {
        height: 100%;
    }
}