@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
$header-background: #D8D8D8;
$header-text-size: 0.8rem;
div.row {
    width: 100%;
    height: 50px;
    font-family: $font-roboto;
    @include row-center;
    justify-content: space-between;
    i {
        font-size: 20px;
        color: $color-dark-steel-blue;
    }
    section.header-left {
        display: flex;
        align-items: flex-start;
        i {
            margin-right: $mobile-frame-horizontal-padding;
            vertical-align: middle;
        }
    }
    section.document-tab {
        color: #97A0BF;
        @include row-center;
        justify-content: flex-end;
        font-size: $header-text-size;
        font-weight: normal;
        span {
            margin: 0 $mobile-frame-horizontal-padding;
            text-transform: uppercase;
        }
    }
}

@include media(lg) {
    div.row {
        width: 100%;
        height: $header-height;
        font-family: $font-roboto;
        @include row-center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        section.document-tab {
            @include column-center;
            font-size: 9px;
            font-weight: normal;
            position: absolute;
            top: 30px;
            right: 50px;
            .option {
                @include column-center;
                object {
                    width: 35px;
                    height: 35px;
                }
                span {
                    margin: 0;
                }
            }
        }
    }
}