<div class="row no-pad">
    <!-- <div class="row no-pad" *ngIf="currentUser"> -->
    <section class="user-profile col-2 pl-4" *ngIf="currentUser">
        <div class="user-icon mr-2">C</div>
        <div class="user-name">{{currentUser.firstName}} {{currentUser.lastName}}</div>
    </section>
    <section class="document-tab pr-4">
        <span class="share clickable">Share</span>
        <i class="fas fa-ellipsis-h clickable"></i>
        <!-- <app-header-options></app-header-options> -->
    </section>
</div>