<div class="row no-pad">
    <section class="header-left mobile">
        <i class="fas fa-bars" (click)="showNavigationBar()"></i>
        <span *ngIf="currentUrl === 'document'">The alchemist</span>
    </section>
    <section class="document-tab pr-4" *ngIf="currentUrl === 'document'">
        <span class="mobile" (click)="isSharingShown = !isSharingShown"><i class="fas fa-share-alt"></i></span>
        <span class="share clickable desktop" (click)="isSharingShown = !isSharingShown">Share</span>
        <i class="fas fa-ellipsis-h clickable" (click)="isOptionShown = !isOptionShown"></i>
        <app-header-sharing [sharingStatus]="sharingStatus" [isSharingShown]="isSharingShown" (showInviteEvent)="showInvite()" (hideSharingEvent)="isSharingShown = $event" (changeSharingStatus)="changeSharingStatus($event)"></app-header-sharing>
        <app-header-options [documentType]="documentType" [isOptionShown]="isOptionShown" (hideOptionEvent)="isOptionShown = $event" (saveAsTemplateEvent)="saveAsTemplate()"></app-header-options>
    </section>
</div>