@import '../../../../_sass/interface';
@import '../../../../_sass/variables';
@import '../../../../_sass/base';
@include media(lg) {
    form.question-setup {
        width: 100%;
        .option {
            width: 100%;
            @include row-center;
            justify-content: flex-start;
            margin-top: 15px;
            input[type=checkbox] {
                -webkit-appearance: none;
                border: 2px solid #a9a9a9;
                background: white;
                border-radius: 3px;
                width: 20px;
                height: 20px;
                position: relative;
                &:checked {
                    background-color: #a9a9a9;
                    color: white;
                    &::after {
                        width: 100%;
                        height: 100%;
                        content: '\2713';
                        font-size: 14px;
                        position: absolute;
                        @include row-center;
                    }
                }
            }
            input[type=text] {
                width: 100%;
                border: 0;
                font-size: 0.85rem;
                color: $color-grey;
                margin-left: 15px;
            }
        }
    }
}