@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
section.mobile.container.option-container {
    section.document-options {
        width: 100%;
        div.option {
            margin-top: 30px;
            font-size: 14px;
            i {
                font-size: 18px;
                width: 20px;
            }
            span {
                margin-left: 20px;
            }
        }
    }
}

@include media(lg) {
    $horizontal-padding: 10px;
    section.blocker {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        section.container.options-block.popup {
            top: 31px;
            right: 24px;
            width: 177px !important;
            height: fit-content;
            .title {
                padding: 5px $horizontal-padding;
            }
            .document-options {
                border-bottom: 1px solid #DDD;
                .option {
                    font-size: 0.75rem;
                    // span {
                    //     margin-left: 5px;
                    // }
                }
            }
            .document-details {
                font-size: 0.7rem;
            }
        }
    }
}