<section class="container options-block">
    <section class="document-options">
        <div class="option">
            <i class="fas fa-trash-alt"></i><span>Delete</span>
        </div>
    </section>
    <section class="document-options">
        <div class="option">
            <i class="fas fa-file-pdf"></i><span>Export as PDF</span>
        </div>
        <div class="option">
            <i class="fas fa-clock"></i> <span>View document history</span>
        </div>
    </section>
    <section class="document-details">
        <div>Last edited by Mickey Mouse</div>
        <div>Last Thursday at 15:35</div>
    </section>
</section>