@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
section.mobile.container.option-container {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    flex-direction: column;
    div.header {
        width: 100%;
        @include row-center;
        height: 50px;
        justify-content: space-between;
        border-bottom: $color-mid-grey solid 0.5px;
        div {
            text-align: center;
            color: $color-grey;
            font-weight: normal;
            &:nth-last-child(1) {
                font-weight: 300;
                text-align: right;
                color: $color-blue;
                font-size: 15px;
            }
        }
    }
    section.document-options {
        width: 100%;
        div.option {
            margin-top: 30px;
            font-size: 14px;
            i {
                font-size: 18px;
                width: 20px;
            }
            span {
                margin-left: 20px;
            }
        }
    }
}

@include media(lg) {
    $horizontal-padding: 10px;
    section.container {
        top: 31px;
        right: 24px;
        width: 177px !important;
        .title {
            padding: 5px $horizontal-padding;
        }
        .document-options {
            border-bottom: 1px solid #DDD;
            .option {
                font-size: 0.75rem;
                // span {
                //     margin-left: 5px;
                // }
            }
        }
        .document-details {
            font-size: 0.7rem;
        }
    }
}