<div class="row no-pad" *ngIf="currentType" [ngSwitch]=currentType>
    <form class="question-setup" [formGroup]="formGroup" *ngIf="formGroup">
        <div formArrayName="options" *ngIf="currentType === 'CHECKBOX' || currentType === 'MULTIPLE_CHOICE'">
            <div *ngFor="let option of formGroup.get('options').controls; let i=index">
                <div class="option checkbox" [formGroupName]="i" *ngSwitchCase="'CHECKBOX'">
                    <input type="checkbox" id="{{i}}">
                    <input type="text" [ngClass]="{'borderless': isPreviewMode === true}" formControlName="option" placeholder="Option {{i + 1}}">
                </div>
                <div class="option checkbox" [formGroupName]="i" *ngSwitchCase="'MULTIPLE_CHOICE'">
                    <input type="radio" name="selectedRadio" id={{i}}>
                    <input type="text" [ngClass]="{'borderless': isPreviewMode === true}" formControlName="option" placeholder="Option {{i + 1}}">
                </div>
            </div>
            <div class="option checkbox clickable" (click)="addNewOption()" *ngIf="isPreviewMode === false">
                <i class="fas fa-plus-circle"></i>
                <div class="add-option">Add option or Add 'OTHER'</div>
            </div>
        </div>
    </form>
    <div class="form-input" *ngIf="currentType === 'SHORT_ANSWER' || currentType === 'PARAGRAPH'">
        <input type="text" [(ngModel)]="answers[0]" placeholder="Type your answer here" [ngClass]="{'long-input': currentType === 'PARAGRAPH'}">
    </div>
</div>