<div class="row no-pad" *ngIf="currentType">
    <form class="question-setup" [formGroup]="formGroup" [ngSwitch]=currentType>
        <div formArrayName="options" *ngIf="currentType === 'CHECKBOX' || currentType === 'MULTIPLCE_CHOICE'">
            <div *ngFor="let option of formGroup.get('options').controls; let i=index">
                <div class="option checkbox" [formGroupName]="i" *ngSwitchCase="'CHECKBOX'">
                    <input type="checkbox" formControlName="checked" id="{{i}}">
                    <input type="text" [ngClass]="{'borderless': isPreviewMode === true}" formControlName="answer" placeholder="Option {{i + 1}}">
                </div>
                <div class="option checkbox" [formGroupName]="i" *ngSwitchCase="'MULTIPLCE_CHOICE'">
                    <input type="radio" name="selectedRadio" id={{i}}>
                    <input type="text" [ngClass]="{'borderless': isPreviewMode === true}" formControlName="answer" placeholder="Option {{i + 1}}">
                </div>
            </div>
            <div class="option checkbox clickable" (click)="addNewOption()" *ngIf="isPreviewMode === false">
                <i class="fas fa-plus-circle"></i>
                <div class="add-option">Add option or Add 'OTHER'</div>
            </div>
        </div>
        <div class="form-input" *ngIf="currentType === 'SHORT_ANSWER' || currentType === 'PARAGRAPH'">
            <input type="text" formControlName="textAnswer" placeholder="Type your answer here" [ngClass]="{'long-input': currentType === 'PARAGRAPH'}">
        </div>
    </form>
</div>