@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
div.fluid-container {
    min-height: 100vh;
    font-family: $font-roboto;
    div.row {
        section.login-container {
            min-height: 100vh;
            @include column-center;
            justify-content: flex-start;
            padding: 40px 10%;
            padding-top: 125px;
            section.heading {
                h1 {
                    font-size: 25.5px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    text-align: center;
                    height: fit-content;
                    margin-bottom: 15px;
                }
                h3 {
                    font-size: 19px;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            form {
                width: 100%;
                @include column-center;
                align-items: flex-start;
                [type=text] {
                    width: 100%;
                    border: 1px solid $color-grey-5;
                    height: 47px;
                    border-radius: 25px;
                    padding: 0 1rem;
                    font-size: 13px;
                    &::placeholder {
                        color: $color-grey-3;
                    }
                }
                .row {
                    width: 100%;
                }
                button.filled-button-primary {
                    width: 100%;
                    font-size: 15px;
                }
            }
            div.login {
                color: #4A4A4A;
                font-size: 14px;
                margin-top: 15px;
                span {
                    color: $color-blue-2;
                }
            }
            hr {
                margin: auto 0;
                width: 100%;
                border: 1px solid $color-grey-3;
            }
            div.sign-up {
                width: 100%;
                @include column-center;
                font-size: 22px;
                button.outline-button-primary {
                    margin-top: 20px;
                    width: 100%;
                    font-weight: normal;
                    font-size: 15px;
                    padding: 0 1.5rem;
                    border: 2px solid $color-blue-2;
                    color: $color-blue-2;
                }
            }
        }
    }
}

@include media(lg) {
    div.fluid-container {
        height: 100vh;
        font-family: $font-roboto;
        div.row {
            section.login-container {
                height: 100vh;
                @include column-center;
                padding: 0 20%;
                section.heading {
                    h1 {
                        font-size: 1.5rem;
                        color: $color-blue-1;
                        font-weight: normal;
                        letter-spacing: 0.1rem;
                        text-align: center;
                    }
                    h3 {
                        font-size: 1.15rem;
                        color: $color-grey-1;
                        font-weight: normal;
                        text-align: left;
                    }
                }
                form {
                    width: 500px;
                    @include column-center;
                    align-items: flex-start;
                    [type=text] {
                        width: 100%;
                        border: 1px solid $color-grey-5;
                        height: 47px;
                        padding: 0 1rem;
                    }
                    .row {
                        width: 100%;
                    }
                    .form-input {
                        width: 100%;
                        position: relative;
                    }
                }
                div.login {
                    position: absolute;
                    margin-top: 10px;
                    font-size: 13px;
                    bottom: 2rem;
                    width: 100%;
                    left: 0;
                    text-align: center;
                }
                div.sign-up {
                    font-size: 0.85rem;
                    position: absolute;
                    top: 2rem;
                    right: 0;
                    @include row-center;
                    button.outline-button-primary {
                        height: 32.5px;
                        font-size: 13px;
                        margin: 0 25px;
                    }
                }
            }
        }
    }
}

@include media(xl) {
    div.fluid-container {
        div.row {
            section.login-container {
                padding: 0 15rem;
            }
        }
    }
}