<div class="fluid-container">
    <div class="row no-gutters">
        <section class="col-12 login-container">
            <section class="heading">
                <h1>Forgot your password?</h1>
                <h3>Enter your email address below and we'll get you back on track.</h3>
            </section>
            <form [formGroup]="forgetForm">
                <input class="mb-4" formControlName="email" type="text" placeholder="Your email address" required>
                <button class="filled-button-primary ml-auto mr-auto">RESET PASSWORD</button>
                <!-- TODO: implement reset password -->
                <!-- <button class="filled-button-primary ml-auto mr-auto" (click)="resetPassword()">RESET PASSWORD</button> -->
            </form>
            <div class="login">Back to <span class="clickable" routerLink="/login">sign in</span></div>
            <hr>
            <div class="sign-up">Don't have an account?
                <button class="outline-button-primary" routerLink="/register">Get Started</button>
            </div>
        </section>
    </div>
</div>