<div class="fluid-container">
    <div class="row">
        <section class="col-10 login-container">
            <section class="heading">
                <h1>Forgot your password?</h1>
                <h3>Enter your email address below and we'll get you back on track.</h3>
            </section>
            <form [formGroup]="forgetForm">
                <div class="form-input">
                    <div class="input-label  mb-1">Email Address</div>
                    <input class="mb-4" formControlName="email" type="text" required>
                </div>
                <button class="filled-button-primary ml-auto mr-auto">RESET PASSWORD</button>
                <!-- TODO: implement reset password -->
                <!-- <button class="filled-button-primary ml-auto mr-auto" (click)="resetPassword()">RESET PASSWORD</button> -->
            </form>
            <div class="login clickable" routerLink="/login">Back to sign in</div>
            <button class="outline-button-primary mobile" routerLink="/register">Get Started</button>
            <div class="sign-up desktop">Don't have an account? <span routerLink="/register">Get Started</span></div>
        </section>
    </div>
</div>