@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
div.fluid-container {
    min-height: 100vh;
    font-family: $font-roboto;
    div.row {
        section.login-container {
            min-height: 100vh;
            @include column-center;
            justify-content: flex-start;
            padding: 0 10%;
            padding-top: 125px;
            section.heading {
                margin-bottom: 2rem;
                h1 {
                    font-size: 28px;
                    color: $color-blue-1;
                    font-weight: normal;
                    letter-spacing: 0.1rem;
                    text-align: center;
                    height: fit-content;
                }
                h3 {
                    font-size: 19px;
                    color: $color-grey-1;
                    font-weight: normal;
                    text-align: center;
                }
            }
            form {
                width: 100%;
                @include column-center;
                align-items: flex-start;
                [type=text] {
                    width: 100%;
                    border: 1px solid $color-grey-5;
                    border-radius: 5px;
                    height: 47px;
                    padding: 0 1rem;
                }
                .row {
                    width: 100%;
                }
                .form-input {
                    width: 100%;
                    position: relative;
                    .input-label {
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: normal;
                        margin-left: 5px;
                    }
                }
            }
            button.outline-button-primary {
                font-weight: normal;
                position: absolute;
                top: 25px;
                right: 10%;
                height: 40px;
                font-size: 15px;
                padding: 0 1.5rem;
            }
            div.login {
                color: #4A4A4A;
                font-size: 14px;
                margin-top: 20px;
                text-decoration: underline;
            }
        }
    }
}

@include media(lg) {
    div.fluid-container {
        height: 100vh;
        font-family: $font-roboto;
        div.row {
            section.login-container {
                height: 100vh;
                @include column-center;
                padding: 0 20%;
                section.heading {
                    margin-bottom: 2rem;
                    h1 {
                        font-size: 1.5rem;
                        color: $color-blue-1;
                        font-weight: normal;
                        letter-spacing: 0.1rem;
                        text-align: center;
                    }
                    h3 {
                        font-size: 1.15rem;
                        color: $color-grey-1;
                        font-weight: normal;
                        text-align: left;
                    }
                }
                form {
                    width: 500px;
                    @include column-center;
                    align-items: flex-start;
                    [type=text] {
                        width: 100%;
                        border: 1px solid $color-grey-5;
                        border-radius: 5px;
                        height: 47px;
                        padding: 0 1rem;
                    }
                    .row {
                        width: 100%;
                    }
                    .form-input {
                        width: 100%;
                        position: relative;
                        .input-label {
                            font-size: 0.65rem;
                            text-transform: uppercase;
                        }
                    }
                }
                div.login {
                    color: #4A4A4A;
                    font-size: 13px;
                    margin-top: 10px;
                    text-decoration: underline;
                }
                div.sign-up {
                    font-size: 0.85rem;
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    width: 100%;
                    justify-content: center;
                    span {
                        margin-left: 10px;
                        color: $color-blue-2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@include media(xl) {
    div.fluid-container {
        div.row {
            section.login-container {
                padding: 0 15rem;
            }
        }
    }
}