@import '../../../../_sass/interface';
@import '../../../../_sass/variables';
@import '../../../../_sass/base';
form.question-setup {
    width: 100%;
    .option {
        width: 100%;
        @include row-center;
        justify-content: flex-start;
        margin-top: 15px;
        font-size: 15px;
        color: $color-grey;
        input[type=checkbox] {
            -webkit-appearance: none;
            border: 2px solid #a9a9a9;
            background: white;
            border-radius: 3px;
            width: 20px;
            height: 20px;
            position: relative;
            &:checked {
                background-color: #a9a9a9;
                color: white;
                &::after {
                    width: 100%;
                    height: 100%;
                    content: '\2713';
                    font-size: 14px;
                    position: absolute;
                    @include row-center;
                }
            }
        }
        input[type=radio] {
            // -webkit-appearance: none;
            border: 2px solid #a9a9a9;
            background: white !important;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            position: relative;
        }
        input[type=text] {
            width: 100%;
            margin-left: 15px;
            color: $color-grey;
            border: #a9a9a9 solid 1px;
            border-radius: 3px;
            padding-left: 5px;
            &::placeholder {
                color: $color-grey;
            }
        }
        .add-option {
            width: 100%;
            margin-left: 15px;
            color: $color-grey;
            margin-bottom: 0px;
        }
        i.fa-plus-circle {
            font-size: 20px;
            color: $color-mid-grey;
        }
    }
}

@include media(lg) {
    form.question-setup {
        width: 100%;
        .option {
            width: 100%;
            @include row-center;
            justify-content: flex-start;
            margin-top: 25px;
            font-size: 0.85rem;
            color: $color-grey;
            input[type=checkbox] {
                -webkit-appearance: none;
                border: 2px solid #a9a9a9;
                background: white;
                border-radius: 3px;
                width: 20px;
                height: 20px;
                position: relative;
                &:checked {
                    background-color: #a9a9a9;
                    color: white;
                    &::after {
                        width: 100%;
                        height: 100%;
                        content: '\2713';
                        font-size: 14px;
                        position: absolute;
                        @include row-center;
                    }
                }
            }
            input[type=text] {
                width: 60%;
                margin-left: 15px;
                color: $color-grey;
                border: #a9a9a9 solid 1px;
                border-radius: 3px;
                padding-left: 5px;
                &::placeholder {
                    color: $color-grey;
                }
            }
            label {
                width: 60%;
                margin-left: 15px;
                color: $color-grey;
                padding-left: 5px;
                margin-bottom: 0px;
            }
        }
    }
}