<form class="question-setup" [formGroup]="formGroup">
    <div formArrayName="options">
        <div *ngFor="let option of formGroup.get('options').controls; let i=index">
            <div class="option checkbox" [formGroupName]="i">
                <input type="checkbox" formControlName="checked">
                <input type="text" formControlName="answer" placeholder="Option {{i + 1}}">
            </div>
        </div>
        <div class="option checkbox clickable" (click)="addNewOption()">
            <input type="checkbox" style="pointer-events: none">
            <input type="text" value="Add option or Add 'OTHER'" style="pointer-events: none">
        </div>
    </div>
</form>