@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
div.fluid-container {
    min-height: 100vh;
    font-family: $font-roboto;
    div.row {
        section.register-container {
            min-height: 100vh;
            @include column-center;
            justify-content: flex-start;
            padding: 40px 10%;
            padding-top: 125px;
            @include media(lg) {
                padding: 0 20%;
                justify-content: center;
            }
            section.heading {
                h1 {
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    text-align: center;
                    height: fit-content;
                    margin-bottom: 15px;
                }
                h3 {
                    font-size: 22px;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 30px;
                }
                @include media(lg) {
                    h1 {
                        font-size: 1.5rem;
                    }
                    h3 {
                        font-size: 1.15rem;
                    }
                }
            }
            form {
                width: 100%;
                @include column-center;
                align-items: flex-start;
                .row {
                    width: 100%;
                }
                input[type=email],
                [type=text],
                [type=password] {
                    width: 100%;
                    height: 47px;
                    border-radius: 25px;
                    padding: 0 1rem;
                    border: 1px solid $color-grey-5;
                    font-size: 14px;
                    &::placeholder {
                        color: $color-grey-3;
                    }
                }
                .form-input {
                    width: 100%;
                    position: relative;
                    flex-direction: column;
                    .input-label {
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: normal;
                        margin-left: 15px;
                    }
                    .password-toggle {
                        position: absolute;
                        top: 12.5%;
                        font-size: 1.5rem;
                        color: $color-grey-1;
                        right: 1.25rem;
                        cursor: pointer;
                        @include media(lg) {
                            top: 40.5%
                        }
                    }
                }
                button.filled-button-primary {
                    width: 100%;
                    font-size: 12px;
                }
                .form-input.locked {
                    pointer-events: none;
                    input {
                        background: #F3F3F3;
                        border-color: transparent;
                    }
                }
                @include media(lg) {
                    width: 500px;
                    input[type=email],
                    [type=text],
                    [type=password] {
                        width: 100%;
                    }
                    .form-input.step-one {
                        @include row-center;
                        input {
                            width: 433px;
                        }
                        button {
                            width: fit-content;
                            margin-left: 25px;
                            margin-top: 0;
                        }
                    }
                    .form-input {
                        .password-toggle {
                            right: 1.25rem;
                        }
                    }
                    button.filled-button-primary {
                        width: fit-content;
                        font-size: 12px;
                        margin-top: 25px;
                    }
                }
            }
            hr {
                margin: auto 0;
                width: 100%;
                border: 1px solid $color-grey-3;
            }
            div.sign-in {
                width: 100%;
                @include column-center;
                font-size: 22px;
                button.outline-button-primary {
                    margin-top: 20px;
                    width: 100%;
                    font-weight: normal;
                    font-size: 15px;
                    padding: 0 1.5rem;
                    border: 2px solid $color-blue-2;
                    color: $color-blue-2;
                }
            }
            @include media(lg) {
                hr {
                    display: none;
                }
                div.sign-in {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    @include row-center;
                    font-size: 15px;
                    justify-content: flex-end;
                    button.outline-button-primary {
                        width: fit-content;
                        height: 35px;
                        margin: 0 0 0 20px;
                        padding: 0 2rem;
                        font-size: 12px;
                    }
                }
            }
            section.password-validation {
                font-size: 12px;
                color: $color-grey-2;
                font-weight: normal;
                .validator {
                    margin-top: 7.5px;
                    @include row-center;
                    justify-content: flex-start;
                    span {
                        margin-left: 10px;
                    }
                    input[type=checkbox] {
                        -webkit-appearance: none;
                        border: 1.5px solid $color-grey-3;
                        background: white;
                        border-radius: 50px;
                        width: 17.5px;
                        height: 17.5px;
                        position: relative;
                        &:checked {
                            background-color: #9AEEDA;
                            border-color: transparent;
                            color: white;
                            &::after {
                                width: 100%;
                                height: 100%;
                                content: '\2713';
                                font-size: 13px;
                                position: absolute;
                                @include row-center;
                            }
                        }
                    }
                }
                @include media(lg) {
                    position: absolute;
                    width: fit-content;
                    top: 0;
                    left: 105%;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
                    padding: 20px;
                    border-radius: 5px;
                }
            }
        }
    }
}