<section class="container">
    <div class="title">
        Untitled form
    </div>
    <section class="document-options">
        <div class="option">
            <i class="fas fa-share-alt"></i><span>Sharing and submissions</span>
        </div>
        <div class="option">
            <i class="fas fa-copy"></i> <span>Duplicate document</span>
        </div>
        <div class="option">
            <i class="fas fa-trash-alt"></i> <span>Delete</span>
        </div>
    </section>
    <section class="document-details">
        <div>Last opened February 17, 2019</div>
        <div>Created on January 4, 2019</div>
    </section>
</section>