<ng-container *responsive="{sizes:{min:576, max:2000}}">
    <section class="overlay" *ngIf="isSendFormShown" (click)="hideContainer()" [@fadeInOutAnimation]>
        <section class="invitation options-block" (click)="$event.stopPropagation()">
            <div class="header">
                <i class="fas fa-paper-plane"></i>
                <div class="content">
                    <div class="title">
                        send document
                    </div>
                    <div class="description">
                        Anyone you send this form to can only edit input fields
                    </div>
                </div>
            </div>
            <input [(ngModel)]="recipientInput" type="text" placeholder="Search a person or type an email address">
            <button (click)="send()">SEND (JEREMY PLS FIX)</button>
            <div class="title">
                select a person
            </div>
            <div class="recipient">
                <i class="fas fa-circle"></i><span>Daffy Duck</span>
            </div>
        </section>
    </section>

</ng-container>
<!-- mobile  -->
<ng-container *responsive="{sizes:{min:0,max:575}}">
    <section class="mobile container option-container" *ngIf="isSendFormShown" [@slideBottomToTopAnimation]>
        <div class="row no-pad header">
            <div class="col-2" (click)="hideContainer()">Done</div>
            <div class="col-5">Invite People</div>
            <div class="col-2">Invite</div>
        </div>
        <input type="text" placeholder="Search a person or type an email address">
        <div class="title">
            select a person
        </div>
        <div class="recipient">
            <i class="fas fa-circle"></i><span>Daffy Duck</span>
        </div>
    </section>
</ng-container>