@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
$horizontal-padding: 1.5rem;
section.mobile.container.option-container {
    input[type=text] {
        width: 100%;
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #97A0BF;
        padding: 20px $horizontal-padding;
        &::placeholder {
            color: $color-grey-3;
            opacity: 0.8;
        }
    }
    .title {
        padding: 25px $horizontal-padding 20px $horizontal-padding;
        color: #97A0BF;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 500;
        font-size: 13px;
    }
    .invitees {
        @include row-center;
        justify-content: flex-start;
        color: $color-grey-2;
        padding: 15px $horizontal-padding;
        font-weight: normal;
        font-size: 16px;
        i.fa-circle {
            font-size: 30px;
            margin-right: 20px;
        }
        &:nth-child(1) {
            padding-top: 10px;
        }
    }
}

.input-container {
    width: 100%;
    border-bottom: 1px solid #97A0BF;
    padding: 15px $horizontal-padding 0 $horizontal-padding;
    display: flex;
    @include media(lg) {
        padding-left: 20px;
        padding-right: 20px;
    }
    div.left-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        .recipient {
            background: rgba(0, 0, 0, 0.719925);
            border-radius: 17px;
            width: fit-content;
            padding: 5px 10px;
            color: white;
            margin-right: 10px;
            margin-bottom: 15px;
            i {
                margin-left: 5px;
            }
        }
        input[type=text] {
            flex-grow: 1;
            border: 0;
            font-size: 12px;
            margin-bottom: 15px;
            padding: 5px 0;
            &::placeholder {
                color: $color-grey-3;
                opacity: 0.8;
            }
        }
        .hide-placeholder {
            &::placeholder {
                color: transparent !important;
            }
        }
    }
    .right-container {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        button {
            background-color: $color-blue-2;
            height: 26.27px;
            padding: 0 1.05rem;
            font-size: 12px;
            letter-spacing: 1.2px;
            font-weight: 500;
            &:disabled {
                background: #E8E8E8;
            }
        }
    }
}

@include media(lg) {
    $horizontal-padding: 20px;
    section.invitation.options-block {
        width: 450px;
        height: 385px;
        font-family: $font-roboto;
        font-size: 12px;
        padding: 0 0 10px 0;
        .header {
            @include row-center;
            justify-content: flex-start;
            border-bottom: 1px solid #97A0BF;
            padding: 0 $horizontal-padding;
            i {
                font-size: 25px;
                color: $color-dark-steel-blue;
            }
            .content {
                .description {
                    padding: 0 0 10px $horizontal-padding;
                    font-weight: normal;
                    color: #B2B9D0;
                }
            }
        }
        .title {
            padding: 10px 0 5px $horizontal-padding;
            color: #97A0BF;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 500;
        }
        .invitees {
            @include row-center;
            justify-content: flex-start;
            color: $color-grey-2;
            padding: 10px $horizontal-padding;
            font-weight: normal;
            i.fa-circle {
                font-size: 24px;
                margin-right: 20px;
            }
            &:nth-child(1) {
                padding-top: 5px;
            }
            &:hover {
                background: transparentize($color: $color-grey-3, $amount: 0.7);
            }
        }
    }
}