@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
section.content {
    height: 100%;
    background: white;
    div.title {
        height: fit-content;
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: 1.5px;
        padding: 0 $mobile-frame-horizontal-padding;
        position: relative;
        font-family: $font-roboto;
        h1 {
            justify-content: flex-start;
            height: fit-content;
            width: 100%;
            padding-bottom: 15px;
            position: relative;
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: 1.5px;
            padding: 0 $mobile-frame-horizontal-padding;
            z-index: 1;
            .text-input {
                width: 100%;
                border: 0;
                z-index: 1;
            }
            .placeholder {
                position: absolute;
                top: 0;
                width: fit-content;
                z-index: -1;
                color: $color-grey-4;
                justify-content: flex-start;
                white-space: pre-wrap;
                word-break: break-word;
            }
            button {
                height: 50px;
                position: fixed;
                bottom: 16px;
                right: 16px;
                font-size: 12px;
                padding: 0 1rem;
                font-weight: normal;
                @include row-center;
                i.fa-paper-plane {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    section.document-tab {
        width: 100%;
        padding: 0 $mobile-frame-horizontal-padding;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        @include row-center;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1.5px;
        font-size: 17px;
        .template,
        .submissions {
            padding: 10px 0;
            width: 50%;
            border-bottom: 1px solid #97A0BF;
            color: #97A0BF;
            @include row-center;
        }
        .current-tab {
            border-bottom: 3px solid #97A0BF;
            font-weight: bold;
        }
    }
    section.template {
        width: 100%;
        // padding: 0 $mobile-frame-horizontal-padding;
    }
    table.submissions {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        padding: 0 $mobile-frame-horizontal-padding + 0.5rem;
        .title {
            font-weight: 500;
            color: #97A0BF;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.5px;
            padding-bottom: 10px;
        }
        .recipient {
            width: 100%;
            height: 40px;
            @include row-center;
            justify-content: space-between;
            .name {
                font-size: 16px;
                width: 50%;
                @include row-center;
                justify-content: flex-start;
                color: $color-grey-1;
                i.fa-circle {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
            .information {
                display: none;
            }
            .view-submission {
                width: 50%;
                @include row-center;
                justify-content: flex-end;
                button {
                    background: transparent;
                    opacity: 1;
                    text-transform: none;
                    height: 28px;
                    border: #9B9B9B solid 1px;
                    color: #9B9B9B;
                    padding: 0 0.75rem;
                }
            }
        }
    }
}

@include media(lg) {
    section.content {
        height: 100%;
        div.title {
            font-size: 2.2rem;
            padding: 0 275px 20px 275px;
            h1 {
                border-bottom: 1px solid #97A0BF;
                justify-content: center;
                padding: 0;
                button {
                    position: absolute;
                    top: 5px;
                    margin-left: auto;
                    align-self: flex-end;
                    height: 31px;
                    font-size: 12px;
                    padding: 0 1.75rem;
                    font-weight: normal;
                    i.fa-paper-plane {
                        display: none;
                    }
                }
            }
        }
        section.document-tab {
            width: 100%;
            padding: 0 275px;
            margin-top: 30px;
        }
        section.template {
            // padding: 0 275px;
        }
        table.submissions {
            // width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 275px;
            .title {
                font-weight: 500;
                color: #97A0BF;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1.5px;
                padding-bottom: 10px;
            }
            .recipient {
                width: 100%;
                height: 40px;
                border-top: $color-grey-5 solid 1px;
                border-bottom: $color-grey-5 solid 1px;
                @include row-center;
                justify-content: space-between;
                padding: 0 10px;
                .name {
                    font-size: 14px;
                    width: 30%;
                    @include row-center;
                    justify-content: flex-start;
                    color: $color-grey-1;
                    i.fa-circle {
                        font-size: 24px;
                        margin-right: 20px;
                    }
                }
                .information {
                    width: 30%;
                    @include row-center;
                    justify-content: flex-start;
                    font-size: 12px;
                    font-weight: normal;
                    color: #B2B9D0;
                }
                .view-submission {
                    width: 40%;
                    @include row-center;
                    justify-content: flex-end;
                    button {
                        color: white;
                        opacity: 0;
                        text-transform: none;
                        height: 28px;
                        background-color: #9B9B9B;
                        padding: 0 1.75rem;
                    }
                }
                &:hover {
                    .view-submission {
                        button {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.child-document {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.46);
    z-index: 3;
    padding: 20vh 10vw 10vh 10vw;
}