@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
@include media(lg) {
    .question-block {
        height: auto;
        width: 100%;
        border: 1px solid #CECECE;
        border-radius: 3px;
        padding: 30px;
        .row {
            @include row-center;
            justify-content: space-between;
            [type=text] {
                border: 0;
                border-bottom: 1px solid #979797;
                padding-left: 0;
                &::placeholder {
                    color: #A9A9A9;
                    font-size: 18px;
                }
            }
            .dropdown {
                height: 41px;
                background-color: #F3F3F3;
                position: relative;
                cursor: pointer;
                i {
                    position: absolute;
                    right: 0;
                    width: 41px;
                    height: 41px;
                    @include row-center;
                }
            }
        }
    }
}