<section class="question-block" (click)="isPreviewMode = false" (clickOutside)="isPreviewMode = true" (clickOutside)="isQuestionOptionShown = false" [ngClass]="{'edit-mode': isPreviewMode === false}">
    <div *ngIf="isPreviewMode === false" class="dropdown col-3">
        <div class="type-dropdown" (click)="toggleOptions()">
            Response type
        </div>
        <section class="container options-block" *ngIf="isQuestionOptionShown === true">
            <section class="document-options">
                <div class="option" (click)="selectType('SHORT_ANSWER', $event)">
                    <img src="./assets/icons/input-option-text.svg"><span>Text Answer</span>
                </div>
                <div class="option" (click)="selectType('CHECKBOX', $event)">
                    <i class="fas fa-check-square"></i><span>Checkbox</span>
                </div>
                <div class="option" (click)="selectType('MULTIPLE_CHOICE', $event)">
                    <i class="far fa-dot-circle"></i><span>Multiple Choice</span>
                </div>
            </section>
        </section>
    </div>
    <app-question-option [currentType]="currentType" [valueUpdated]="valueUpdated" [isPreviewMode]="isPreviewMode" [options]="options" [answers]="answers" (valueToBeSaved)="updateQuestionValue($event)" style="width: 100%;"></app-question-option>
    <!-- <img class="lock" src="./assets/icons/lock.svg" tooltip="&nbsp;Restrict recipients<br> from editing this block&nbsp;" placement="right" hide-delay="0"> -->
    <img class="lock" src="./assets/icons/unlock.svg" tooltip="&nbsp;Allow recipients<br> to edit this block&nbsp;" placement="right" hide-delay="0">
</section>