@import '../../../_sass/interface';
@import '../../../_sass/variables';
@import '../../../_sass/base';
$dropdown-height: 41px;
@include media(lg) {
    .question-block {
        margin: 7.5px 0;
        display: block;
        height: auto;
        width: 100%;
        border: 1px solid #CECECE;
        border-radius: 3px;
        padding: 30px;
        transition: 0.3s;
        .question-heading {
            height: 41px;
        }
        .row {
            @include row-center;
            align-items: flex-start;
            justify-content: space-between;
            [type=text] {
                border: 0;
                border-bottom: 1px solid #979797;
                padding-left: 0;
                letter-spacing: 0.5px;
                font-size: 20px;
                &::placeholder {
                    color: $color-grey-3;
                    font-size: 20px;
                }
            }
            $dropdown-height: 41px;
            .dropdown {
                display: block;
                height: $dropdown-height;
                background-color: #F3F3F3;
                cursor: pointer;
                padding: 0;
                position: relative;
                div.selected-option {
                    position: relative;
                    height: 100%;
                    div {
                        height: 100%;
                        @include row-center;
                        justify-content: flex-start;
                        padding: 0 10px;
                        span {
                            font-size: 0.85rem;
                            margin-left: 15px;
                            font-weight: normal;
                        }
                    }
                    i.fa-chevron-down {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: $dropdown-height;
                        height: $dropdown-height;
                        @include row-center;
                    }
                }
                section.container.options-block {
                    position: absolute;
                    left: 0px;
                    top: $dropdown-height;
                }
            }
        }
        &:hover {
            border: 1px solid #CECECE !important;
        }
    }
}

.flip-arrow {
    transform: rotate(180deg);
}