<section class="question-block" (click)="isPreviewMode = false" (clickOutside)="isPreviewMode = true" [ngClass]="{'borderless': isPreviewMode === true}">
    <div class="row no-pad question-heading">
        <input [id]="questionBlock.id + '-question'" [name]="questionBlock.id" ngDefaultControl type="text" [ngClass]="{'borderless': isPreviewMode === true}" placeholder="Type your question here" [(ngModel)]="question" (ngModelChange)="triggerUpdateValue()"
            class="col-7">
        <div *ngIf="isPreviewMode === false" class="dropdown col-3" (clickOutside)="isQuestionOptionShown = false">
            <div class="selected-option" (click)="toggleOptions()" [ngSwitch]=currentType>
                <div *ngSwitchCase="'SHORT_ANSWER'">
                    <i class="fas fa-grip-lines"></i><span>Short Answer</span>
                </div>
                <div *ngSwitchCase="'PARAGRAPH'">
                    <i class="fas fa-bars"></i><span>Paragraph</span>
                </div>
                <div *ngSwitchCase="'CHECKBOX'">
                    <i class="fas fa-check-square"></i><span>Checkbox</span>
                </div>
                <div *ngSwitchCase="'MULTIPLE_CHOICE'">
                    <i class="far fa-dot-circle"></i><span>Multiple Choice</span>
                </div>
                <i class="fas fa-chevron-down" [ngClass]="{'flip-arrow': isQuestionOptionShown === true}"></i>
            </div>
            <section class="container options-block" *ngIf="isQuestionOptionShown === true">
                <div class="title">
                    QUESTION TYPES
                </div>
                <section class="document-options">
                    <div class="option" (click)="selectType('SHORT_ANSWER', $event)">
                        <i class="fas fa-grip-lines"></i><span>Short Answer</span>
                    </div>
                    <div class="option" (click)="selectType('PARAGRAPH', $event)">
                        <i class="fas fa-bars"></i><span>Paragraph</span>
                    </div>
                </section>
                <section class="document-options">
                    <div class="option" (click)="selectType('CHECKBOX', $event)">
                        <i class="fas fa-check-square"></i><span>Checkbox</span>
                    </div>
                    <div class="option" (click)="selectType('MULTIPLE_CHOICE', $event)">
                        <i class="far fa-dot-circle"></i><span>Multiple Choice</span>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <app-question-option [currentType]="currentType" [valueUpdated]="valueUpdated" [isPreviewMode]="isPreviewMode" [options]="options" [answers]="answers" (valueToBeSaved)="updateQuestionValue($event)" style="width: 100%;"></app-question-option>
</section>