<ng-container *ngIf="block" [ngSwitch]=block.type>
    
    <ng-content></ng-content>
    <div class="block" *ngSwitchCase="'TEXT'" [ngClass]="{'child-document': isChildDoc}">
        <app-block-text [block]="block" [isUserLoggedIn]="isUserLoggedIn" [focusBlockId]="focusBlockId" (deleteEvent)="deleteTransmitter($event)" (createBlock)="addBlock($event)"></app-block-text>
    </div>
    <div class="block" *ngSwitchCase="'QUESTION'">
        <app-question-block [questionBlock]="block" class="desktop" [focusBlockId]="focusBlockId"></app-question-block>
        <app-mobile-question-block [questionBlock]="block" class="mobile"></app-mobile-question-block>
    </div>
</ng-container>