@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';
div.block {
    padding: 0 $mobile-frame-horizontal-padding;
}

@include media(lg) {
    .block.child-document {
        padding: 0 $desktop-child-document-horizontal-padding;
    }
    div.block {
        padding: 0 $desktop-document-horizontal-padding;
    }
}