<div class="fluid-container">
    <div class="row">
        <section class="col-3 register-background"></section>
        <section class="col-7 register-container">
            <section class="heading">
                <h1>Log in</h1>
                <h3>Enter your details below</h3>
            </section>
            <form [formGroup]="loginForm">
                <div class="form-input">
                    <div class="input-label  mb-1">Work Email</div>
                    <input class="mb-4" formControlName="email" type="text" required>
                </div>
                <div class="form-input">
                    <div class="password-label">
                        <div class="input-label mb-1">Password</div>
                        <div class="forgot-password">Forgot Password?</div>
                    </div>
                    <input class="mb-4" formControlName="password" type="{{passwordType}}" required>
                    <i *ngIf="passwordType === 'password'" class="fas fa-eye password-toggle" (click)="togglePassword()"></i>
                    <i *ngIf="passwordType === 'text'" class="fas fa-eye-slash password-toggle" (click)="togglePassword()"></i>
                </div>
                <!-- <button class="filled-button-primary ml-auto mr-auto" [disabled]="loginForm.invalid" (click)="signIn()">Sign in</button> -->
                <button class="filled-button-primary ml-auto mr-auto" (click)="signIn()">Sign in</button>
            </form>
            <div class="sign-up">Don't have an account? <span routerLink="/register">Get Started</span></div>
        </section>
    </div>
</div>