@import '../../_sass/interface';
@import '../../_sass/variables';
@import '../../_sass/base';

div.fluid-container {
    height: 100vh;
    font-family: $font-roboto;

    div.row {
        section.login-container {
            min-height: 100vh;
            @include column-center;
            justify-content: flex-start;
            padding: 40px 10%;
            padding-top: 125px;

            @include media(lg) {
                padding: 0 20%;
                justify-content: center;
            }

            section.heading {
                h1 {
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                    text-align: center;
                    height: fit-content;
                    margin-bottom: 15px;
                }

                h3 {
                    font-size: 22px;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 30px;
                }

                @include media(lg) {
                    h1 {
                        font-size: 1.5rem;
                    }

                    h3 {
                        font-size: 1.15rem;
                    }
                }
            }

            form {
                width: 100%;
                @include column-center;
                align-items: flex-start;

                .row {
                    width: 100%;
                }

                input[type=email],
                [type=text],
                [type=password] {
                    width: 100%;
                    height: 47px;
                    border-radius: 25px;
                    padding: 0 1rem;
                    border: 1px solid $color-grey-5;
                    font-size: 14px;

                    &::placeholder {
                        color: $color-grey-3;
                    }
                }

                .form-input {
                    width: 100%;
                    position: relative;

                    .input-label {
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: normal;
                        margin-left: 15px;
                    }

                    .password-label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .forgot-password {
                            font-size: 10px;
                            margin-right: 15px;
                            color: $color-grey-2;
                            cursor: pointer;
                        }
                    }

                    .password-toggle {
                        position: absolute;
                        top: 42.5%;
                        font-size: 1.5rem;
                        color: $color-grey-1;
                        right: 1.25rem;
                        cursor: pointer;
                    }

                    .error {
                        @include row-center;
                        justify-content: flex-start;
                        margin-top: 3px;
                        color: $color-error-red;
                        font-size: 11px;

                        i {
                            font-size: 14px;
                            margin-right: 5px;
                        }

                        span {
                            color: $color-blue-2;
                            cursor: pointer;
                        }
                    }
                }

                button.filled-button-primary {
                    width: 100%;
                    font-size: 12px;

                    &:active {
                        outline: none;
                    }
                }

                .lds-dual-ring {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 64px;

                    &:after {
                        content: " ";
                        display: block;
                        width: 46px;
                        height: 46px;
                        margin: 1px;
                        border-radius: 50%;
                        border: 5px solid $color-grey-3;
                        border-color: $color-grey-3 transparent $color-grey-3 transparent;
                        animation: lds-dual-ring 1.2s linear infinite;
                    }
                }

                @keyframes lds-dual-ring {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                @include media(lg) {
                    width: 500px;

                    input[type=email],
                    [type=text],
                    [type=password] {
                        width: 95%;
                    }

                    .form-input {
                        .password-label {
                            .forgot-password {
                                margin-right: 40px;
                            }
                        }

                        .password-toggle {
                            right: 2.5rem;
                        }
                    }

                    button.filled-button-primary {
                        width: 125px;
                        font-size: 12px;
                    }
                }
            }

            hr {
                margin: 40px 0;
                width: 100%;
                border: 1px solid $color-grey-3;
            }

            div.sign-up {
                width: 100%;
                @include column-center;
                font-size: 22px;

                button.outline-button-primary {
                    margin-top: 20px;
                    width: 100%;
                    font-weight: normal;
                    font-size: 15px;
                    padding: 0 1.5rem;
                    border: 2px solid $color-blue-2;
                    color: $color-blue-2;
                }
            }

            @include media(lg) {
                hr {
                    display: none;
                }

                div.sign-up {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    @include row-center;
                    font-size: 15px;
                    justify-content: flex-end;

                    button.outline-button-primary {
                        width: fit-content;
                        height: 35px;
                        margin: 0 0 0 20px;
                        padding: 0 2rem;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}