/* You can add global styles to this file, and also import other style files */

@import '~aws-amplify-angular/theme.css';
html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
