<div class="row no-pad" *ngIf="currentType" [ngSwitch]=currentType>
    <form class="input-setup" [formGroup]="formGroup" *ngIf="formGroup && (currentType === 'CHECKBOX' || currentType === 'MULTIPLE_CHOICE')">
        <div formArrayName="options">
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let option of formGroup.get('options').controls; let i=index" cdkDrag class="option checkbox" [formGroupName]="i">
                    <img class="clickable" cdkDragHandle src="./assets/icons/block-option.svg" alt="menu icon" tooltip="&nbsp; Drag to reorder &nbsp;" placement="top" hide-delay="0">
                    <!-- <img class="clickable" cdkDragHandle src="./assets/icons/block-option.svg" alt="menu icon" [ngStyle]="{'opacity': isMobilePreview === false ? 1 : 0}"> -->
                    <input type="checkbox" [disabled]="options[i] === null" [checked]="answers.includes(options[i])" (click)="toggleAnswers(options[i])" *ngSwitchCase="'CHECKBOX'">
                    <input type="radio" [disabled]="options[i] === null" [checked]="answers.includes(options[i])" (click)="switchAnswer(options[i])" *ngSwitchCase="'MULTIPLE_CHOICE'">
                    <input type="text" disabled [ngClass]="{'borderless': isPreviewMode === true}" formControlName="option" placeholder="Option {{i + 1}}">
                    <i class="fas fa-times clickable" (click)="deleteOption(i)" *ngIf="options.length > 1 && !isMobilePreview" tooltip="&nbsp; Remove &nbsp;" placement="top" hide-delay="0"></i>
                    <div class="drag-placeholder" *cdkDragPlaceholder></div>
                </div>
            </div>
            <div class="option checkbox clickable" cdkDragDisabled (click)="addNewOption()" *ngIf="isPreviewMode === false">
                <i class="fas fa-plus-circle"></i>
                <div class="add-option">Add another option</div>
            </div>
        </div>
    </form>
    <div class="content text-block" *ngIf="currentType === 'TEXT' || currentType === 'PARAGRAPH'">
        <div class="text-input" contenteditable="true" ngDefaultControl [(ngModel)]="answers[0]" (ngModelChange)="triggerUpdateValue()"></div>
        <div class="placeholder" *ngIf="answers[0] === '' || answers[0] === undefined">Type your response here</div>
    </div>
</div>