<!-- mobile version -->
<section class="mobile question-block" (click)="isPreviewMode = false" *ngIf="isPreviewMode">
    <div class="question">
        {{question}}
    </div>
    <app-question-option [isPreviewMode]="isPreviewMode" [currentType]="currentType" [options]="previewOptions" [answers]="previewAnswers" style=" width: 100%;"></app-question-option>
</section>
<section class="mobile edit-question" [@slideBottomToTopAnimationDOM]="isPreviewMode">
    <div class="row no-pad header">
        <div class="col-2" (click)="isPreviewMode = true"><i class="fas fa-times"></i></div>
        <div class="col-2"><i class="fas fa-check"></i></div>
    </div>
    <div class="row no-pad question">
        <label>question</label>
        <input type="text" placeholder="Type your question here" [(ngModel)]="question">
    </div>
    <div class="row no-pad options" [ngSwitch]=currentType>
        <label>Options</label>
        <app-question-option [currentType]="currentType" [isPreviewMode]="isPreviewMode" [options]="options" [answers]="answers" (valueToBeSaved)="updateQuestionValue($event)" style=" width: 100%;"></app-question-option>
    </div>
    <div class="row no-pad footer" [ngSwitch]=currentType>
        <div class="dropdown col-5" (clickOutside)="isQuestionOptionShown = false">
            <div class="selected-option" (click)="toggleOptions()" [ngSwitch]=currentType>
                <div *ngSwitchCase="'SHORT_ANSWER'">
                    <i class="fas fa-grip-lines"></i><span>Short Answer</span>
                </div>
                <div *ngSwitchCase="'PARAGRAPH'">
                    <i class="fas fa-bars"></i><span>Paragraph</span>
                </div>
                <div *ngSwitchCase="'CHECKBOX'">
                    <i class="fas fa-check-square"></i><span>Checkbox</span>
                </div>
                <div *ngSwitchCase="'MULTIPLE_CHOICE'">
                    <i class="far fa-dot-circle"></i><span>Multiple Choice</span>
                </div>
                <i class="fas fa-chevron-down" [ngClass]="{'flip-arrow': isQuestionOptionShown === true}"></i>
            </div>
            <section class="container options-block" *ngIf="isQuestionOptionShown === true">
                <div class="title">
                    QUESTION TYPES
                </div>
                <section class="document-options">
                    <div class="option" (click)="selectType('SHORT_ANSWER')">
                        <i class="fas fa-grip-lines"></i><span>Short Answer</span>
                    </div>
                    <div class="option" (click)="selectType('PARAGRAPH')">
                        <i class="fas fa-bars"></i><span>Paragraph</span>
                    </div>
                </section>
                <section class="document-options">
                    <div class="option" (click)="selectType('CHECKBOX')">
                        <i class="fas fa-check-square"></i><span>Checkbox</span>
                    </div>
                    <div class="option" (click)="selectType('MULTIPLE_CHOICE')">
                        <i class="far fa-dot-circle"></i><span>Multiple Choice</span>
                    </div>
                </section>
            </section>
        </div>
        <div class="delete">
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>
</section>
<!-- end of mobile version -->